@page "/document/ordermove/update/{id:guid}"
@attribute [Authorize]
@inherits UpdateDocument<OrderMoveDto>
@using FuelAcc.ApiClient
@using FuelAcc.Client.Shared.Pages

<h1>Edit Move Order</h1>
<br/>
<Form ButtonText="Update" record="@Record" loading="@Loading" OnValidSubmit="@UpdateRecord" />

@code {
    protected override void OnInitialized()
    {
        NavigationPrefix = "/document/ordermove";
        SucceededAlertText = "Move Order updated successfully";
        Record = new OrderMoveDto();
        base.OnInitialized();
    }
}
