@page "/dictionary/branch/update/{id:guid}"
@attribute [Authorize]
@inherits UpdateDictionary<BranchDto>
@using FuelAcc.ApiClient
@using FuelAcc.Client.Shared.Pages

<h1>Edit Branch</h1>
<br/>
<Form ButtonText="Update" record="@Record" loading="@Loading" OnValidSubmit="@UpdateRecord" />

@code {
    protected override void OnInitialized()
    {
        NavigationPrefix = "/dictionary/branch";
        SucceededAlertText = "Branch updated successfully";
        Record = new BranchDto();
        base.OnInitialized();
    }
}
