@page "/dictionary/branch/view/{id}"
@attribute [Authorize]
@inherits ViewDictionary<BranchDto>
@using FuelAcc.Client.Shared.Api
@using FuelAcc.Client.Shared.Pages
@inject NavigationManager navManager
@inject FuelAcc.Client.Shared.PageHistoryState PageHistoryState

<h1>View Branch</h1>
<br/>

<table class="table col-md-6">
    <tbody>
        <tr>
            <th scope="row">Id</th>
            <td>@Record.Id</td>
        </tr>
        <tr>
            <th scope="row">Name</th>
            <td>@Record.Name</td>
        </tr>
    </tbody>
</table>

<div class="form-group">
    @if (PageHistoryState.CanGoBack()){
        <NavLink href="@PageHistoryState.GetGoBackPage()" class="btn btn-link">Back</NavLink>
    }
    else{
        <NavLink href="/dictionary/branch/1" class="btn btn-link">Back</NavLink>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        Record = new BranchDto();
        base.OnInitialized();
    }
}