@page "/dictionary/product/create"
@using FuelAcc.Client.Services.Crud
@using FuelAcc.Client.Shared.Api
@attribute [Authorize]
@inject IAlertService AlertService
@inject IDictionaryService<ProductDto> DtoService
@inject NavigationManager navManager
@inject FuelAcc.Client.Shared.PageHistoryState PageHistoryState

<h1>Create Product</h1>
<br/>

<Form ButtonText="Create" record="@record" loading="@loading"
            OnValidSubmit="@CreateRecord" />

@code {
    bool loading = false;
    
    ProductDto record = new ProductDto
    {
        Name = "",
    };
    async Task CreateRecord()
    {
        loading = true;
        try
        {
            await DtoService.Add(record);
            AlertService.Success("Product added successfully", keepAfterRouteChange: true);
            if (PageHistoryState.CanGoBack()){
                navManager.NavigateTo(PageHistoryState.GetGoBackPage());
            }
            else{
                navManager.NavigateTo("/dictionary/product/1");
            } 
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message);
            loading = false;
            StateHasChanged();
        }
    }
}