@page "/dictionary/product/update/{id:guid}"
@attribute [Authorize]
@inherits UpdateDictionary<ProductDto>
@using FuelAcc.Client.Shared.Api
@using FuelAcc.Client.Shared.Pages

<h1>Edit Product</h1>
<br/>
<Form ButtonText="Update" record="@Record" loading="@Loading" OnValidSubmit="@UpdateRecord" />

@code {
    protected override void OnInitialized()
    {
        NavigationPrefix = "/dictionary/product";
        SucceededAlertText = "Product updated successfully";
        Record = new ProductDto();
        base.OnInitialized();
    }
}
