@page "/document/orderin/update/{id:guid}"
@attribute [Authorize]
@inherits UpdateDocument<OrderInDto>
@using FuelAcc.ApiClient
@using FuelAcc.Client.Shared.Pages

<h1>Edit In Order</h1>
<br/>
<Form ButtonText="Update" record="@Record" loading="@Loading" OnValidSubmit="@UpdateRecord" />

@code {
    protected override void OnInitialized()
    {
        NavigationPrefix = "/document/orderin";
        SucceededAlertText = "In Order updated successfully";
        Record = new OrderInDto();
        base.OnInitialized();
    }
}
