@page "/dictionary/storage/view/{id:guid}"
@attribute [Authorize]
@inherits ViewDictionary<StorageDto>
@using FuelAcc.ApiClient
@using FuelAcc.Client.Shared.Pages
@using FuelAcc.Client.Services.Crud
@inject NavigationManager navManager
@inject FuelAcc.Client.Shared.PageHistoryState PageHistoryState
@inject IDictionaryService<BranchDto> BranchesService

<h1>View Storage</h1>
<br/>

<table class="table col-md-6">
    <tbody>
        <tr>
            <th scope="row">Id</th>
            <td>@Record.Id</td>
        </tr>
        <tr>
            <th scope="row">Name</th>
            <td>@Record.Name</td>
        </tr>
        <tr>
            <th scope="row">Branch</th>
            <td>@BranchName</td>
        </tr>
    </tbody>
</table>

<div class="form-group">
    @if (PageHistoryState.CanGoBack()){
        <NavLink href="@PageHistoryState.GetGoBackPage()" class="btn btn-link">Back</NavLink>
    }
    else{
        <NavLink href="/dictionary/storage/1" class="btn btn-link">Back</NavLink>
    }
</div>

@code {
    private string BranchName = string.Empty;

    protected override void OnInitialized()
    {
        Record = new StorageDto();
        base.OnInitialized();
    }

    protected async override Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        BranchName = await BranchesService.LookupName(Record.BranchId);
    }
}