@using  System.Globalization
@inject IJSRuntime JsRuntime
@inject NavigationManager Nav

<p>
    <label>
        Culture: <select @bind="Culture" style="width:300px; margin-left:10px;">
            @foreach (var culture in SupportedCultures)
            {
                <option value="@culture">@culture.DisplayName</option>
            }
        </select>
    </label>
</p>

@code
{
    private ICollection<CultureInfo> SupportedCultures => FuelAcc.Localization.Localizations.SupportedCultures;

    private CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var js = (IJSInProcessRuntime)JsRuntime;
                js.InvokeVoid("blazorCulture.set", value.Name);

                Nav.NavigateTo(Nav.Uri, forceLoad: true);
            }
        }
    }
}