@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <CultureSelector />
        </div>
        <article class="content px-4">
            <Alert />
            @Body
        </article>
        @* <footer class="footer"> *@
            <div class="container text-center">
                <span class="text-muted"> &copy; X 2024</span>
            </div>
        @* </footer> *@
    </main>
</div>
